<!-- home page -->
<div class="center">
  <h1 style="font-size: 70px; color: #057DCD; text-align: center">My Thinking Space</h1>

  <h2>
    Welcome!
  </h2>

  <!-- Button redirects to signup + login page -->
  <form action="http://localhost:3000/login">
    <input type="submit" value="Login + Signup" />
  </form>
</div>
