<!-- home page -->
<div class="center">
  <h1 style="font-size: 70px; color: #057DCD; text-align: center">My Thinking Space</h1>

  <h2>
    Welcome!
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
