<!-- idea list table layout -->
<!doctype html>

<!-- heading -->
<h1 style="font-size: 50px; color: #057DCD; text-align: center">Ideas</h1>

<!-- picture table layout -->
<% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
    <div class="col-3">       
      <%= image_tag(idea.picture_url, :width => 250) if idea.picture.present? %>
      <h4><%= link_to idea.name, idea %></h4>
      <%= idea.description %>
    </div>
    <% end %>
  </div> 
<% end %> 