<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<h1 style="font-size: 70px; color: #057DCD; text-align: left">Sign Up Now!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
<!-- link to go back -->
<%= link_to 'Back', users_path %>
